{% extends 'base.html' %}

{% block content %}

<!-- ABOUT Page-->
<div class="card mb-5">
    <div class="card-body">

        <h2 class="mb-3 text-center" >About Me</h2>

        <p>
            Hi, my name is Deepan Chauhan and I am currently a sophomore at
            Tennessee Tech University pursuing a Bachelor's Degree in Computer Science
            with a concentration in Data Science and A.I. As a long-time fan of soccer, I
            wanted to combine my love for soccer and build my skills as a Computer
            Scientist to build StrikeStat. 
        </p>

        <p>
            StrikeStat is a platform that allows
            users to explore standings, top scorers,
            and match data across all of the top soccer leagues in the world.
        </p>
        <br>

        <h5>My Profiles</h5>
         <a href="https://www.linkedin.com/in/deepan-chauhan-a0a057384/" class="text-decoration-none">
            <i class="fa-brands fa-linkedin fa-5x"></i>
        </a>

        <i class="fa-brands fa-github fa-5x" style="color: rgb(0, 0, 0);"></i>

    </div>
</div>

{% endblock %}